/*Estilos para la barra de navegación*/
#barraNav{
    font-family: 'Franklin Gothic Medium';
}

/*Contenedor compartido por todos los archivos html*/
.cajaImagenCabecera{
    background-image: url(../img/inicio/bajoHeader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 20em;
}


.btnContact{
    color: white;
    padding: 2em 3em;
    text-decoration: none;
}

.btnContact:hover{
    color: yellow;
}


.btnMenu{
    color: white;
    padding: 1em 2em;
    text-decoration: none;
}

.btnMenu:hover{
    color: yellow;
}


/*Estilos en contact.html*/
.btnPedido{
    color: white;
    padding: 2em 3em;
    text-decoration: none;
}
.btnPedido:hover{
    color: yellow;
}
.itemHorario{
    list-style: none;
}
.card:hover{
    box-shadow: 5px 5px 10px red;
}

/*Estilos del footer*/
footer {
    font-family: 'Franklin Gothic Medium';
}